# Virtual environment
venv/
.env

# Byte-compiled / cached files
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# VS Code settings (if you use VS Code)
.vscode/

# Jupyter Notebook checkpoints (if using Jupyter)
.ipynb_checkpoints/

# macOS and Windows system files
.DS_Store
Thumbs.db
